<!--The content below is only a placeholder and can be replaced.-->
<div class="container_12 clearfix">
	<div id="header" class="grid_12">
		<h1><img alt="NBA Logo" src="assets/img/nba-logo1.0.png"></h1>
		<div id="nav">
		<ul>
			<li><a href="">Inicio</a></li>
			<li><a href="">Equipos</a></li>
			<li><a href="">Jugadores</a></li>
			<li><a href="">Jornada</a></li>
			<li><a href="">Más informacion</a></li>
			<li><a href="">Contacto</a></li>
		</ul>
		</div>
	</div>
</div>
<div id="footer" class="grid_12">
Pie de página
</div>
 
 




