<!--The content below is only a placeholder and can be replaced.-->
<meta charset="utf-8">
	<div id="header">
		<h1><img alt="NBA Logo" src="assets/img/nba-logo1.0.png"></h1>
		<div id="nav">
		<ul>
			<li><a href="">Inicio</a></li>
			<li><a href="">Equipos</a></li>
			<li><a href="">Jugadores</a></li>
			<li><a href="">Más informacion</a></li>
			<li><a href="">Contacto</a></li>
		</ul>
		</div>
	</div>
	<div id="content">
		<div id="feature">
			<button id="btprev" class="ui left labeled icon button">
				Anterior
			</button>
			<app-actividades-ciclicas></app-actividades-ciclicas>
			<button id="btnext" class="ui right labeled icon button">
				Siguiente
			</button>
		</div>
		<div class="article column1">
			<p>Mejores jugadas</p>
		</div>
		<div class="article column2">
			<p>Resultados</p>
		</div>
		<div class="article column3">
			<p>Merchandising</p>
		</div>
	</div>
	<div id="footer">
		&copy; Copyright 2018
		<div>Icons made by <a href="https://www.flaticon.com/authors/roundicons" title="Roundicons">Roundicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
	</div>

 
 




