<!--The content below is only a placeholder and can be replaced.-->
<meta charset="utf-8">
	<div id="header">
		<h1><img alt="NBA Logo" src="assets/img/nba-logo1.0.png"></h1>
		<div id="nav">
		<ul>
			<li><a href="">Inicio</a></li>
			<li><a href="">Equipos</a></li>
			<li><a href="">Jugadores</a></li>
			<li><a href="">Más informacion</a></li>
			<li><a href="">Contacto</a></li>
		</ul>
		</div>
	</div>
	<div id="content">
		<div id="feature">
			<p>Patrocinado</p>
		</div>
		<div class="article column1">
			<p>Columna uno</p>
		</div>
		<div class="article column2">
			<p>Columna dos</p>
		</div>
		<div class="article column3">
			<p>Columna tres</p>
		</div>
	</div>
	<div id="footer">
	Pie de página
	</div>

 
 




