/* You can add global styles to this file, and also import other style files */
body {
  text-align: center;
  width: 90%;
  margin: 0 auto;}
  .column1, .column2, .column3 {
  width: 31.3%;
  float: left;
  margin: 1%;}


